a {
  text-decoration: none;
  cursor: pointer;
}

.jobs-header {
  text-align: center;
  margin-top: 20%;
}

.searchInput {
  width: 75%;
}

.jobs {
  margin: 1.5em;
}

.jobFilters {
  align-items: center;
}

.jobTitleLink {
  color: #d18d34;
}

.jobTitleLink:hover {
  color: #000;
}

.editBtn {
  color: #696969;
}

.deleteBtn {
  color: #bb3f3f;
}

.editBtn:hover {
  color: #708090;
}

.deleteBtn:hover {
  color: #ff0000;
}

.resetBtn,
.filterBtn {
  text-align: center;
}
.filterModalBtn {
  margin-left: 40%;
}
.s-layout {
  margin-left: 20%;
}
#jobCatelory,
#radius,
#zipCode {
  width: 100%;
}
.resetLink {
  color: #d18d34;
}

.resetLink:hover {
  color: #000;
}
