.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  width: 100%; /* Full width */
  padding: 1em;
  border-bottom: 1px black solid;
  background-color: white;
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
  margin-top: 12px;
}

.navbar__link {
  color: #000;
}

.navbar__link:hover {
  color: #000;
  font-weight: bold;
}
